.mail__icon, .phone__icon, .skype__icon{
    max-height: 120px;
}
.contact_detail_item{
    text-transform: lowercase;
    display: flex;
    align-items: center;
    gap: 1em;
    margin: .5em 0;
    font-size: 36px
}