.gpt3_possibilities {
    display: flex;
    gap: 50px;
}
.gpt3_possibilities > div {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.gpt3_possibilities-image img {
    height: 100%;
    width: 100%;
}
.gpt3_possibilities-content h2{
    font-size: 34px;
    font-family: var(--font-family);
    font-weight: 800;
    line-height: 45px;
    margin: 1rem 0;
}
.gpt3_possibilities-content a {
    font-size: 16px;
    line-height: 30px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #71E5FF;
    cursor: pointer;
}
.gpt3_possibilities-content p {
    font-size: 16px;
    line-height: 30px;
    font-family: var(--font-family);
}
.gpt3_possibilities-content p.content {
    color: var(--color-text);
    font-weight: 400;
}
.gpt3_possibilities-content p.link {
    font-weight: 500;
    color: var(--color-subtext);
    cursor: pointer;
    margin: 1rem 0;
}
@media all and (max-width: 800px) {
    .gpt3_possibilities {
        gap: 10px;
    }
    .gpt3_possibilities img {
        height: auto;
    }
    .gpt3_possibilities p,  .gpt3_possibilities a{
        font-size: 14px;
    }
    .gpt3_possibilities h2 {
        font-size: 28px;
        line-height: 36px;
    }
}
@media all and (max-width: 600px) {
    .gpt3_possibilities > div {
        width: 100%;
    }
    .gpt3_possibilities {
        flex-wrap: wrap;
    }
}